{% extends "base.html" %}

{% block preamble %}

	<title>Monitoring Logs</title>

{% endblock %}

{% block content %}

<script>
    $(function(){
    
        var select = $('#Select1'),
            options = select.find('option');
        
        $('[type="radio"]').click(function(){
            var visibleItems = options.filter('[value*="' + $(this).val()  + '"]').show();
            options.not(visibleItems).hide();
            
            if(visibleItems.length > 0)
            {
                select.val(visibleItems.eq(0).val());
            }
        });
    });
</script>

    <main role="main" class="container">
    	<h2>View Log for JWQL Monitors</h2><hr>

        <p align="justify">
        This page provides users to interactively explore the JWQL monitoring logs.
        </p><br>

        <form action="" method="post" id="view_db_table">
            {{ csrf_input }}
            <!--DB TABLE DROPDOWN-->
            <h4>Select JWQL Server</h4>
            <div class="log_view_select">
                {% for server_type in log_type_dir %}
                    <input type="radio" name="server_radio" value="{{ server_type }}"> {{ server_type }} <br />
                {% endfor %}
                
                <br>
                <fieldset id="Group2" name="Group2">
                    <legend>Available Logs</legend>
                    <select id="Select1" name="Select1">
                        {% for key in logging_path_dict %}
                            {% for log in logging_path_dict[key] %}
                                <option value="{{ key }}">{{ log }}</option>
                            {% endfor %}
                        {% endfor %}
                    </select>
                </fieldset>
            
            </div>
            <button name=make_table_view class="btn btn-primary" type="submit"><span class="fas fa-search"></span></button>
            <br>

            {% if log_name %}
                
            {% endif %}
        </form>
	</main>

{% endblock %}